@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'QuinnRegular';
  src: url('../fonts/Quinn-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Regular';
  src: url('../fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.react-multi-carousel-item {
  width: auto !important;
  /* border: 1px solid #ddd; */
  /* padding: 50px 0px 120px 0px; */
  /* background-color: #f9f9f9; */
}

.react-multi-carousel-item {
  @apply pt-[50px] pb-20 md:pb-[120px]
}

.react-multi-carousel-dot-list {
  margin: 0;
  padding: 0;
  text-align: center;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}